<!DOCTYPE html>
<html>
  <head>
    <title>Yallasa7elAssignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Allan">
  </head>

  <body>
	<p>
    <h1 class="web_font">Yalla Sa7el</h1>
    <div class="log_cases">
		  <% if user_signed_in? %>
  			<strong class="web_font">Welcom: <%= current_user.email %></strong>.
  			
  			<button><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></button>
		  <% else %>
  			<button><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></button>
	 		  <button><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></button>
		  <% end %>
    </div>
	</p>
  <%= yield %>
  </body>
</html>
